nav {
   height: 80px;
   display: flex;
   line-height: 0;
   align-items: center;
   justify-content: space-between;
}

.logo {
   height: 40px;
}

nav ul li:last-child img{
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

nav ul {
   gap: 24px;
   display: flex;
   list-style: none;
   align-items: center;
   padding-block: 8px;
}